<div>
    <div class="hero_stripe_left">
        <div class="hero_stripe_left_arrow_box">
            <img src="/assets/img/hero/arrow.png" alt="">
        </div>
        <div class="hero_stripe_left_line">

        </div>
    </div>
    <div class="hero_stripe_right">
        <div class="hero_stripe_right_mail">
            <span>
                <a href="mailto:patrick.batke@web.de">patrick.batke&#64;web.de</a>
            </span>
        </div>
        <div class="hero_stripe_right_icons">
            <a target="_blank" href="https://github.com/SpecialForceX">
                <div class="github_logo"></div>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/patrick-batke-78825a348/">
                <div class="linkedin_logo"></div>
            </a>
        </div>
        <div class="hero_stripe_right_line">

        </div>
    </div>
</div>