<div class="hero_main">
    <div>
      <h2>{{ texts[currentLanguage].title }}</h2>
    </div>
    <div>
      <h1>{{ texts[currentLanguage].name }}</h1>
    </div>
    <div class="hero_main_buttons">
      <a href="/home#projects">
        <button class="animated-btn">
          <span>{{ texts[currentLanguage].work }}</span>
        </button>
      </a>
      <a href="/home#contact">
        <button class="animated-btn">
          <span>{{ texts[currentLanguage].contact }}</span>
        </button>
      </a>
    </div>
  </div>
  